<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>About</title>
</head>
<body>

	<section>
		<div style="background-color: #F5F5F5">
			<div class="container">
				<div class="row">
					<div class="col-md-12 offset-md-0">
						<div class="my-about">
							<div class="fixed">
								<h2>About</h2>
								<h6>Created By:</h6>
								<div style="margin: 20px">
								<img src="./Image/profile.jpg"
										alt="LnkedIn" style="width: 200px" />
									<p>Shubham Singhal</p>
									<p style="margin-top: -20px">Mobile : +919407570070</p>
									<p style="margin-top: -20px">
										Email : <a href="http://singhalshubham990@gmail.com/"
											target="_blank">singhalshubham990@gmail.com</a>
									</p>
									<a
										href="https://www.linkedin.com/in/shubham-singhal-8725a8109/"
										target="_blank"><img src="./Image/LinkedIn.jpg"
										alt="LnkedIn" style="width: 25px" /></a> 
									<a
										href="https://www.instagram.com/iiam.shubh/"
										target="_blank"><img src="./Image/Instagram.jpg"
										alt="LnkedIn" style="width: 25px" /></a>
								</div>
								<h6>Technology Used :</h6>
								<div style="margin: 20px">
									<p>J2EE, Spring Framework, Spring Boot, RESTful Web
										Services, Thymeleaf</p>
									<p style="margin-top: -20px">Html, CSS</p>
								</div>
								<h6>API Resource :</h6>
								<div style="margin: 20px">
									<p>Rapid API</p>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



	</section>



</body>
</html>